body{
    margin: 0px;
    font-family: "Arial Unicode MS";
    background-color: #a0b4c557;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
}

/*HEADER*/
.header{
    width: 100%;
    background-color: #4E79A0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.d-text-page{
    margin-left: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container{
    width: 60%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.title{
    margin: 15px 0px 15px 0px;
    color: rgba(244, 244, 255, 0.86);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.input-logout{
    background-color: rgba(119, 153, 169, 0.83);
    border-radius: 5px;
    margin-top: 15px;
    border-style: none;
    box-sizing: border-box;
    color: rgba(244, 244, 255, 0.86);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.input-logout:hover,
.input-logout:focus {
    background-color: rgba(146, 171, 183, 0.93);
}


/*BODY*/
.div-main-container{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.form-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.input-field{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 0px 10px;
    height: 35px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
}

.input-date{
    width: 70%;
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 10px;
    height: 35px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
}

.t-area-field{
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 0px 10px;
    height: 100px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
}

.div-date{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.label-date{
    margin: 0px 10px 0px 0px;
    width: 30%;
}

.select-user{
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 0px 10px;
    height: 35px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
    align-items: center;
    width: 100%;
}

.b-create{
    background-color: #E3475A;
    border-radius: 30px;
    margin: 10px 0px 0px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    width: 70px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.b-create:hover,
.b-create:focus {
    background-color: #f0354c;
}