body{
    margin: 0px;
    font-family: "Arial Unicode MS";
    background-color: #a0b4c557;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
}

/*HEADER*/
.header{
    width: 100%;
    background-color: #4E79A0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.container{
    width: 60%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.title{
    margin: 15px 0px 15px 0px;
    color: rgba(244, 244, 255, 0.86);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.input-logout{
    background-color: rgba(119, 153, 169, 0.83);
    border-radius: 5px;
    margin-top: 15px;
    border-style: none;
    box-sizing: border-box;
    color: rgba(244, 244, 255, 0.86);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 40px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.input-logout:hover,
.input-logout:focus {
    background-color: rgba(146, 171, 183, 0.93);
}


/*BODY*/

.d-container-main{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.d-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.a-title{
    color: #4e79a0eb;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    width: 15%;
}

.d-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0px 20px 0px;
    padding: 0px 20px 0px 20px;
}

.d-parameters{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.d-parameters-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px 100px 0px 0px;
}

.d-parameters-column-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    margin: 10px 0px 10px 0px;
    height: 30px;
    align-items: center;
}

.d-parameter{
    width: 130px;
}

.d-parameter-big{
    width: 200px;
}

.d-change-status{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.d-comments{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.d-comments-title{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.d-comment{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px 10px 5px 10px;
}

.d-comments-parameters{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.d-comments-text{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.p-task-title{
    color: #2D4B66;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 00px 0px 0px;
    width: 85%;
}

.p-task-description{
    color: rgba(0, 0, 0, 0.77);
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.p-parameter{
    color: #2D4B66;
    font-size: 17px;
    font-weight: bold;
    margin: 0px 00px 0px 0px;
}

.p-user-and-date{
    color: rgb(28 45 60 / 68%);
    font-size: 17px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.p-user{
    color: #2D4B66;
    font-size: 17px;
    font-weight: bold;
    margin: 0px 20px 0px 0px;
}

.p-date{
    color: rgb(28 45 60 / 68%);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.p-task-date{
    color: #2D4B66;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.p-active{
    color: #4EB83D;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 40px 0px 0px;
    background-color: rgba(78, 184, 61, 0.15);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 60px;
    text-align: center;
}

.p-inactive{
    color: #BD3131;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 40px 0px 0px;
    background-color: #bd313126;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}

.p-todo{
    color: #8B8984;
    background-color: rgba(139, 137, 132, 0.25);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.p-accepted{
    color: #E2B950;
    background-color: rgba(226, 185, 80, 0.25);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.p-in-progress{
    color: #3196B6;
    background-color: rgba(49, 150, 182, 0.25);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.p-done{
    color: #48967A;
    background-color: rgba(72, 150, 122, 0.25);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.p-canceled{
    color: #CE4152;
    background-color: rgba(206, 65, 82, 0.25);
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.input-disactivate{
    background-color: rgb(248, 103, 121);
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    height: 25px;
    width: 95px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.input-disactivate:hover,
.input-disactivate:focus {
    background-color: rgb(245 70 91);
}

.input-activate{
    background-color: #76DC66;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    width: 95px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.input-activate:hover,
.input-activate:focus {
    background-color: #3FC42EFF;
}

.input-accept{
    background-color: #ffda5f;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    width: 95px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.input-accept:hover,
.input-accept:focus {
    background-color: #e0b729;
}

.form-activate{
    margin: 0px 0px 0px 0px;
}

.button-change-status{
    background-color: #6eaef1;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    width: 70px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-change-status:hover,
.button-change-status:focus {
    background-color: #4a8fd7;
}

.form-control{
    padding: 0px 0px 0px 5px;
    height: 35px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 16px;
    font-size: 16px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
    margin: 0px 10px 0px 0px;
}

.p-comment-text{
    color: rgba(0, 0, 0, 0.77);
    font-size: 18px;
    font-weight: normal;
    margin: 0px 0px 0px 0px;
}

.d-comment{
    background-color: #FFFFFF;
    margin: 10px 0px 10px 00px;
}

.div-add-comment{
    width: 100%;
    margin: 10px 0px 0px 0px;
}

.form-add-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.t-area-comment{
    width: 90%;
    height: 60px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    margin: 0px 10px 0px 0px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
}

.button-comment{
    background-color: #E3475A;
    border-radius: 30px;
    margin: 0px 0px 0px 0px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    width: 70px;
    line-height: 10px;
    list-style: none;
    outline: none;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-comment:hover,
.button-comment:focus {
    background-color: #f0354c;
}

.select-user{
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 0px 10px;
    height: 35px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
    align-items: center;
    width: 100%;
}
.input-date{
    width: 70%;
    margin: 10px 10px 10px 0px;
    padding: 0px 10px 0px 10px;
    height: 35px;
    color: rgba(0, 0, 0, 0.77);
    font-size: 17px;
    font-weight: normal;
    background-color: #FFFFFF;
    border-radius: 5px;
    border-color: #b2b2b25e;
    outline: none;
}

.form-date{
    margin: 0px;
}