<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task</title>
    <link th:href="@{/css/account.css}" href="../src/main/resources/static/css/account.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" href="../src/main/resources/static/css/header.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="d-text-page">
        <p class="title">Account</p>
    </div>
    <div class="container">
        <a class="title" href="/task/allTasks/all">
            ALL TASKS
        </a>

        <hr class="hr">

        <a class="title" href="/task/assignedTasks">
            ASSIGNED TASKS
        </a>

        <hr class="hr">

        <a class="title" href="/task/createdTasks">
            CREATED TASKS
        </a>

        <hr class="hr">

        <a th:if="${user.role.name() == 'USER'}" class="title"  th:href="@{/statistics/{id}(id=${user.id})}">
            STATISTICS
        </a>
        <a th:if="${user.role.name() == 'ADMIN'}" class="title"  href="/statistics/selectUser">
            STATISTICS
        </a>

        <hr class="hr">

        <a class="title" href="/history">
            HISTORY
        </a>

        <form  class="form-account" th:action="@{'/user/' + ${user.id}}" method="get">
            <input class="input-account" type="submit" name="" value="">
        </form>

        <form  class="form-account" action="/auth/logout" method="post">
            <input class="input-logout" type="submit" name="" value="">
        </form>
    </div>
</header>
<div class="div-container-main">
    <div class="d-parameters">
        <div class="d-parameter">
            <p class="p-parameter1">id</p>
            <p class="p-parameter2">Name</p>
            <p class="p-parameter1">Lastname</p>
            <p class="p-parameter2">Login</p>
        </div>
        <div class="d-parameter">
            <p class="p-parameter-text1" th:text="${user.id}"></p>
            <p class="p-parameter-text2" th:text="${user.name}"></p>
            <p class="p-parameter-text1" th:text="${user.lastname}"></p>
            <p class="p-parameter-text2" th:text="${user.username}"></p>
        </div>
    </div>
</div>
</body>
</html>