<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link th:href="@{/css/history.css}" href="../src/main/resources/static/css/history.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" href="../src/main/resources/static/css/header.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="d-text-page">
        <p class="title">History</p>
    </div>
    <div class="container">
        <a class="title" href="/task/allTasks/all">
            ALL TASKS
        </a>

        <a class="title" href="/task/assignedTasks">
            ASSIGNED TASKS
        </a>

        <a class="title" href="/task/createdTasks">
            CREATED TASKS
        </a>

        <a class="title" href="/statistics">
            STATISTICS
        </a>

        <a class="title" href="/history">
            HISTORY
        </a>

        <form  class="form-account" th:action="@{/user/account}" method="get">
            <input class="input-account" type="submit" name="" value="">
        </form>

        <form  class="form-account" action="/auth/logout" method="post">
            <input class="input-logout" type="submit" name="" value="">
        </form>
    </div>
</header>
<div class="div-main-container">
    <div class="div-task">
        <div th:each="history : ${resultList}">
            <div th:if="${history.typeEvent.name() == 'ASSIGNED_TASK'}" class="div-history">
                <p> The task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p>was assigned to you</p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'STARTED_WORK'}" class="div-history">
                <p> You started working on the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'STOPPED_WORK'}" class="div-history">
                <p> You stopped working on the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_DEADLINE_BY_CREATOR'}" class="div-history">
                <p> The deadline for the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p>assigned to you has been changed from</p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertLocalDateTimeFromStringToString(history.oldValue)}"></p>
                <p>to</p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertLocalDateTimeFromStringToString(history.newValue)}"></p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_STATUS_BY_EXECUTOR'}" class="div-history">
                <p> You have changed the status of the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p>from</p>
                <p th:text="${history.oldValue}"></p>
                <p>to</p>
                <p th:text="${history.newValue}"></p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_STATUS_FOR_TASK_CREATED_BY_USER'}" class="div-history">
                <p> User </p>
                <a th:href="@{/user/{id}(id=${history.userWhoUpdated.id})}"
                   th:text="${history.userWhoUpdated.name + ' ' + history.userWhoUpdated.lastname}"></a>
                <p>has changed the status of the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p>from</p>
                <p th:text="${history.oldValue}"></p>
                <p>to</p>
                <p th:text="${history.newValue}"></p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_DEADLINE_FOR_TASK_CREATED_BY_USER'}" class="div-history">
                <p> User </p>
                <a th:href="@{/user/{id}(id=${history.userWhoUpdated.id})}"
                   th:text="${history.userWhoUpdated.name + ' ' + history.userWhoUpdated.lastname}"></a>
                <p>has changed the due date of the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p>from</p>
                <p th:text="${history.oldValue}"></p>
                <p>to</p>
                <p th:text="${history.newValue}"></p>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_ASSIGNED_USER_FOR_TASK_CREATED_BY_USER'}" class="div-history">
                <p> User </p>
                <a th:href="@{/user/{id}(id=${history.userWhoUpdated.id})}"
                   th:text="${history.userWhoUpdated.name + ' ' + history.userWhoUpdated.lastname}"></a>
                <p>has changed the assigned user of the task</p>
                <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}"></a>
                <p>from</p>
                <a th:href="@{/user/{id}(id=${history.oldValue})}"
                   th:text="this"></a>
                <p>to</p>
                <a th:href="@{/user/{id}(id=${history.newValue})}"
                   th:text="this"></a>
                <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}"></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>