<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <link th:href="@{/css/history.css}" href="../src/main/resources/static/css/history.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" href="../src/main/resources/static/css/header.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="d-text-page">
        <p class="title">History</p>
    </div>
    <div class="container">
        <a class="title" href="/task/allTasks/all">
            ALL TASKS
        </a>

        <a class="title" href="/task/assignedTasks">
            ASSIGNED TASKS
        </a>

        <a class="title" href="/task/createdTasks">
            CREATED TASKS
        </a>

        <a class="title" href="/statistics">
            STATISTICS
        </a>

        <a class="title" href="/history">
            HISTORY
        </a>

        <form  class="form-account" th:action="@{/user/account}" method="get">
            <input class="input-account" type="submit" name="" value="">
        </form>

        <form  class="form-account" action="/auth/logout" method="post">
            <input class="input-logout" type="submit" name="" value="">
        </form>
    </div>
</header>
<div class="div-main-container">
    <div class="div-histories">
        <div th:each="history : ${resultList}">
            <div th:if="${history.typeEvent.name() == 'ASSIGNED_TASK'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text">The task </p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                    <p class="p-text">was assigned to you</p>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'STARTED_WORK'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text">You started working on the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'STOPPED_WORK'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text">You stopped working on the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_DEADLINE_BY_CREATOR'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text"> The deadline for the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                    <p class="p-text">assigned to you has been changed from</p>
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertLocalDateTimeFromStringToString(history.oldValue)}"></p>
                    <p class="p-text">to</p>
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertLocalDateTimeFromStringToString(history.newValue)}" class="p-text"></p>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_STATUS_BY_EXECUTOR'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text"> You have changed the status of the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                    <p class="p-text">from</p>
                    <p th:text="${history.oldValue}" th:class="${history.oldValue}"></p>
                    <p class="p-text">to</p>
                    <p th:text="${history.newValue}" th:class="${history.newValue}"></p>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_STATUS_FOR_TASK_CREATED_BY_USER'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text">User</p>
                    <a th:href="@{/user/{id}(id=${history.userWhoUpdated.id})}"
                       th:text="${history.userWhoUpdated.name + ' ' + history.userWhoUpdated.lastname}" class="a-history"></a>
                    <p class="p-text">has changed the status of the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                    <p class="p-text">from</p>
                    <p th:text="${history.oldValue}" th:class="${history.oldValue}"></p>
                    <p class="p-text">to</p>
                    <p th:text="${history.newValue}" th:class="${history.newValue}"></p>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_DEADLINE_FOR_TASK_CREATED_BY_USER'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text"> User </p>
                    <a th:href="@{/user/{id}(id=${history.userWhoUpdated.id})}"
                       th:text="${history.userWhoUpdated.name + ' ' + history.userWhoUpdated.lastname}" class="a-history"></a>
                    <p class="p-text">has changed the due date of the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                    <p class="p-text">from</p>
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertLocalDateTimeFromStringToString(history.oldValue)}" class="p-text"></p>
                    <p class="p-text">to</p>
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertLocalDateTimeFromStringToString(history.newValue)}" class="p-text"></p>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
            <div th:if="${history.typeEvent.name() == 'CHANGE_ASSIGNED_USER_FOR_TASK_CREATED_BY_USER'}" class="div-history">
                <div class="div-history-text">
                    <p class="p-text"> User </p>
                    <a th:href="@{/user/{id}(id=${history.userWhoUpdated.id})}"
                       th:text="${history.userWhoUpdated.name + ' ' + history.userWhoUpdated.lastname}" class="a-history"></a>
                    <p class="p-text">has changed the assigned user of the task</p>
                    <a th:href="@{/task/{id}(id=${history.task.id})}" th:text="${history.task.title}" class="a-history"></a>
                    <p class="p-text">from</p>
                    <a th:if="${history.oldValue != null}" th:href="@{/user/{id}(id=${history.oldValue})}" th:text="this" class="a-history"></a>
                    <p th:if="${history.oldValue == null}" class="a-history">not assigned</p>
                    <p class="p-text">to</p>
                    <a th:href="@{/user/{id}(id=${history.newValue})}" th:text="this" class="a-history"></a>
                </div>
                <div class="div-history-date">
                    <p th:text="${T(ru.shcherbatykh.utils.CommandUtils).convertDateAndTimeToStringForPrint(history.date)}" class="p-text-date"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>