<html lang="en"
      xmlns:th="www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create an account</title>
        <link th:href="@{/css/authentication.css}" href="../src/main/resources/static/css/authentication.css" rel="stylesheet">
    </head>
    <body>
        <div>
            <form class="container" method="POST" th:action="@{/auth/registration}" th:object="${newUser}">
                <p class="header">SIGN UP</p>

                <input class="input-field" type="text" th:field="*{name}" placeholder="Name" required>

                <input class="input-field" type="text" th:field="*{lastname}"  placeholder="Lastname" required>

                <p th:if="${#fields.hasErrors('username')}"  th:errors="*{username}" class="p-error"></p>

                <input class="input-field" type="text"  th:field="*{username}" placeholder="Login" required>

                <p th:if="${#fields.hasErrors('confirmPassword')}"  th:errors="*{confirmPassword}" class="p-error"></p>

                <input class="input-field" type="password"  th:field="*{password}" placeholder="Password" required>

                <input class="input-field" type="password"  th:field="*{confirmPassword}" name="confirmPassword"  placeholder="Confirm password" required>

                <button class="sign" type="submit">Create a new account</button>

                <div class="text-cont">
                    <p class="p-text">
                        Have an account?&nbsp
                    </p>
                    <a class="p-text" href="/auth/login">
                         Sign in
                    </a>
                </div>
            </form>
        </div>
    </body>
</html>