<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div>
            <h1>Congrats!!! You did it!</h1>
            <form action="/auth/logout" method="POST">
                <button type="submit">Logout</button>
            </form>

            <form action="/auth/allRoles" method="GET">
                <button type="submit">go to page for everyone</button>
            </form>

            <form action="/auth/userRolePage" method="GET">
                <button type="submit">go to page for user</button>
            </form>

            <form action="/auth/adminRolePage" method="GET">
                <button type="submit">go to page for admin</button>
            </form>
        </div>
    </body>
</html>
