<html lang="en"
      xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link th:href="@{/css/taskCreate.css}" href="../src/main/resources/static/css/taskCreate.css" rel="stylesheet">
    <link th:href="@{/css/header.css}" href="../src/main/resources/static/css/header.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="d-text-page">
        <p class="title">Creating task</p>
    </div>
    <div class="container">
        <a class="title" href="/task/allTasks/all">
            ALL TASKS
        </a>

        <hr class="hr">

        <a class="title" href="/task/assignedTasks">
            ASSIGNED TASKS
        </a>

        <hr class="hr">

        <a class="title" href="/task/createdTasks">
            CREATED TASKS
        </a>

        <hr class="hr">

        <a th:if="${user.role.name() == 'USER'}" class="title"  th:href="@{/statistics/{id}(id=${user.id})}">
            STATISTICS
        </a>
        <a th:if="${user.role.name() == 'ADMIN'}" class="title"  href="/statistics/selectUser">
            STATISTICS
        </a>

        <hr class="hr">

        <a  class="title"  href="/history">
            HISTORY
        </a>

        <form  class="form-account" th:action="@{'/user/' + ${user.id}}" method="get">
            <input class="input-account" type="submit" name="" value="">
        </form>

        <form  class="form-account" action="/auth/logout" method="post">
            <input class="input-logout" type="submit" name="" value="">
        </form>
    </div>
</header>
<div class="div-main-container">
    <form class="form-container" method="post" th:action="@{/task/create/{idParentTask}(idParentTask=${idParentTask})}">
        <input class="input-field" type="text" id="title" name="title" placeholder="Title" required>
        <textarea class="t-area-field" type="text" id="description" name="description" placeholder="Description" required></textarea>
        <select class="select-user" name="idUserExecutor">
            <option th:value=${0} th:text="'User executor'"></option>
            <option th:each="user : ${users}" th:value=${user.id} th:text="${user.lastname + ' ' + user.name}"></option>
        </select>
        <div class="div-date">
            <input class="input-date" type="datetime-local" id="deadline" name="deadline"/>
        </div>
        <button class="b-create" type="submit">Create</button>
    </form>
</div>
</body>
</html>